@model Jzm.Rent.WebApp45.Models.Borrow

@{
    ViewBag.Title = "DetailsDemo";
    Layout = "~/Views/Shared/_LayoutJzm.cshtml";
}

<h2>DetailsDemo</h2>

<div>
    <h4>Borrow</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BorrowDateOnUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BorrowDateOnUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDateOnUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDateOnUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BorrowDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BorrowDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserInfo_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserInfo_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceUID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceInfo_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceInfo_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsReturned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsReturned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BorrowQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BorrowQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnQuantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
